<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" crossorigin="anonymous" />
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <nav id="nav-bar">
    <ul class="menu menu-hover-lines align-spaced">
      <li>Gblog</li>
      <li><a href="../index.html">Home</a></li>
      <li class="active"><a>Blog</a></li>
      <li><a>You</a></li>
    </ul>
  </nav>

  <h1>So you want to write a blog...</h1>

  <section id="form-section">
    <form action="">
      <div class="row">
        <div class="small-12 column">
          <div class="form-floating-label">
            <input type="email" id="title" name="title" required>
            <label for="title">Title</label>
          </div>
        </div>
        <div class="small-12 column">
          <div class="form-floating-label">
            <input type="text" id="name" name="name">
            <label for="password">What you go by</label>
          </div>
        </div>
        <div class="small-12 column">
          <div class="form-floating-label">
            <textarea name="body" id="body" rows="5" placeholder=""></textarea>
            <label for="textarea">Body</label>
          </div>
        </div>
      </div>
    </form>
    <a id="submit-blog-button" class="button expanded">Submit blog</a>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" crossorigin="anonymous"></script>

  <script src="add-blog.js"></script>

</body>

</html>